span.piece {
    display: block;
}

span.white {
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

span.last_move {
    background-color: yellow;
}

table#board {
    background-color: burlywood;
    border: black 1px solid;
    border-collapse: collapse;
}

table#board td {
    border: black 1px solid;
}
